*.css           eol=lf
*.df            eol=lf
*.htm           eol=lf
*.html          eol=lf
*.java          eol=lf
*.js            eol=lf
*.json          eol=lf
*.jsp           eol=lf
*.jspf          eol=lf
*.jspx          eol=lf
*.properties    eol=lf
*.sh            eol=lf
*.tld           eol=lf
*.txt           eol=lf
*.tag           eol=lf
*.tagx          eol=lf
*.xml           eol=lf
*.yml           eol=lf
*.vue           eol=lf
*.ts            eol=lf
*.sql           eol=lf
*.yml           eol=lf