*~

src/node_modules/

local/

temp/

frontend/node_modules/

frontend/dist/

webapp/node_modules/

webapp/build/

webapp/lib/node_modules/

webapp/lib/build/

webapp/cosmos-lib/node_modules/

webapp/cosmos-lib/build/
